#tribe-field-tickets-commerce-paystack-commerce-configure .tribe-field-wrap {
    float: none;
    max-width: none;
}

#tribe-field-tickets-commerce-paystack-commerce-configure {
    padding-left: 0;
    width: 100%;
}